[phases.setup]
nixPkgs = ["nodejs_20", "python311"]

[phases.install]
cmds = ["npm ci", "python3 -m pip install -r python_services/requirements.txt"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "node dist/index.js"

[variables]
NODE_ENV = "production"
